<div style="text-align:center">

    <div *ngFor="let match of matches">
        <div>
            || Date of game - {{match.data | date:'yyyy-MM-dd'}}, time - {{match.data | date:'hh:mm'}} ||
            <button (click)="getGameDetails(match.id)">Get info</button>
            <div *ngIf="match.id === currentMatch.game.id">
                <button (click)="closeDetails()">Hide info</button>
                <div>
                    <div style="border:1px black">
                    </div>



                    <div style="text-align:center" *ngFor="let gamer of currentMatch.gamers">
                        Name - {{gamer.name}}<br>
                        Gamer status - {{gamer.gamerStatus}}<br>
                        <div *ngFor="let card of currentMatch.cards">
                            <div *ngIf="card.userInGameId==gamer.id">
                                <img src="../../assets/{{card.suit}}-{{card.value}}.png">
                                Received in round {{card.raundNumber+1}} 
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <button (click)="redirectToMain()">Go to main</button>

</div>