<div style="text-align:center">
    <div *ngFor="let match of matches">
        <div>
            || Date of game - {{match.date | date:'yyyy-MM-dd'}}, time - {{match.date | date:'hh:mm'}} ||
            <button (click)="getGameDetails(match.id)">Get info</button>
            <div *ngIf="isItCurrentGame(match.id,currentMatch.game.id)">
                <button (click)="closeDetails()">Hide info</button>
                <div>
                    <div style="border:1px black">
                    </div>
                    <div style="text-align:center" *ngFor="let gamer of currentMatch.gamers">
                        Name - {{gamer.name}}<br>
                        Gamer status - {{gamer.gamerStatus}}<br>
                        <div *ngFor="let round of currentMatch.rounds">
                            <div *ngIf="isItRoundOfThisGame(round.userInGameId,gamer.id)">
                                <img src="../../assets/{{round.suit}}-{{round.value}}.png">
                                Received in round {{round.roundNumber+1}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="redirectToMain()">Go to main</button>
</div>