<div>
  <div style="border:1px black">
    <div [ngSwitch]="match.game.isFinished">
      <div *ngSwitchCase=false>In progress</div>
      <div *ngSwitchCase=true>Finished</div>
    </div>
    <div style="border:1px black">Date of game - {{match.game.date | date:'dd-MM-yyyy'}}, time - {{match.game.date |
      date:'hh:mm'}} </div>
  </div>
  <div style="text-align:center" *ngFor="let gamer of match.gamers">
    Name - {{gamer.name}}<br>
    <div *ngIf="match.game.isFinished==true||gamer.name.indexOf('Bot')!=0">
      Points - {{gamer.points}} points.<br>
      Gamer status - {{gamer.gamerStatus}}<br>
    </div>
    <div>
      <div *ngFor="let round of match.rounds">
        <div *ngIf="round.userInGameId==gamer.id">
          <img *ngIf="match.game.isFinished==true" src="../../assets/{{round.suit}}-{{round.value}}.png">
          <img *ngIf="match.game.isFinished==false&&gamer.name.indexOf('Bot')!=0" src="../../assets/{{round.suit}}-{{round.value}}.png">
          <img *ngIf="match.game.isFinished==false&&gamer.name.indexOf('Bot')==0" src="../../assets/untitled.png">
        </div>
      </div>
    </div>
    <button *ngIf="(gamer.name.indexOf('Bot')!=0)&&(match.game.isFinished!='1')" (click)="nextRound()">Get card</button>
    <button *ngIf="(gamer.name.indexOf('Bot')!=0)&&(match.game.isFinished!='1')" (click)="stopGame()">Enough!</button>
  </div>
</div>