<div>
  <div style="border:1px black">
    <div *ngIf="isGameFinished()">Finished</div>
    <div *ngIf="!isGameFinished()">In progress</div>
    <div style="border:1px black">Date of game - {{match.game.date | date:'dd-MM-yyyy'}}, time - {{match.game.date |
      date:'hh:mm'}} </div>
  </div>
  <div style="text-align:center" *ngFor="let gamer of match.gamers">
    Name - {{gamer.name}}<br>
    <div *ngIf="isGameFinished()||!isGamerBot(gamer.name)">
      Points - {{gamer.points}} points.<br>
        <div *ngIf="isGamerLoser(gamer.gamerStatus)"> Gamer status - Loser</div>
        <div *ngIf="isGamerWinner(gamer.gamerStatus)"> Gamer status - Winner</div>
        <div *ngIf="isGamerStillPlay(gamer.gamerStatus)"> Gamer status - In game</div>
    </div>
    <div>
      <div *ngFor="let round of match.rounds">
        <div *ngIf="isCardHolder(round.userInGameId,gamer.id)">
          <img *ngIf="isGameFinished()" src="../../assets/{{round.suit}}-{{round.value}}.png">
          <img *ngIf="!isGameFinished()&&(!isGamerBot(gamer.name))" src="../../assets/{{round.suit}}-{{round.value}}.png">
          <img *ngIf="!isGameFinished()&&(isGamerBot(gamer.name))" src="../../assets/untitled.png">
        </div>
      </div>
    </div>
    <button *ngIf="!isGamerBot(gamer.name)&&(!isGameFinished())" (click)="nextRound()">Get card</button>
    <button *ngIf="!isGamerBot(gamer.name)&&(!isGameFinished())" (click)="stopGame()">Enough!</button>
  </div>
</div>